body {
    background-color: #d7edff;
    color: #183B4E;
    min-width: 524px;
    margin: 0 auto;
    padding: 0 5vw;
    padding-top: 3%;
    text-align: center;
    overflow: hidden;
}

main {
    overflow: auto;
    height: 78vh;
}

body.dark {
    background-color: #2b2b2b;
    color: white;
}

@media (min-width: 1201px) {
    body {
        padding: 30px 0 0 0;
        min-width: 320px;
    }
}

a {
    color: #27548A;
    margin: 0 0.3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

div {
    text-align: center;
}

.icon {
    width: 2.5rem;
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.3) translateY(-5px);
}

.iconset {
    display: inline-block;
    vertical-align: top;
    border: 0px solid #333;
    padding: 5px 16px 16px 16px;
    border-radius: 30px;
    /*float: left;*/
    margin: 15px;
    height: 115px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.25);
    transition: box-shadow 0.3s ease;
}

.iconset:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: #27548A;
    text-align: center;
    padding: 0px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-family: serif;
}

.dark footer {
    background-color: #1e1e1e;
}

#clock {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

.dark #clock {
    color: white;
}

#date {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    white-space: pre;
}

.dark #date {
    color: lightgoldenrodyellow
}

#empty {
    height: 100px;
    display: block;
}

::selection {
    background: #ffcc00;
    color: black;
}

@media (max-width: 500px) {
    body {
        padding: 1rem 0 0 0;
        background-color: #d7edff;
        min-width: 0;
        max-width: 90vw;
        margin: 0 auto;
        text-align: left;
    }

    .icon {
        width: 2.5rem;
    }

    .iconset {
        vertical-align: top;
        border: 0px;
        padding: 0 0 0 0;
        height: auto;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .iconset:hover {
        box-shadow: none;
    }

    #clock {
        font-size: 3.2rem;
    }

    #date {
        color: #27548A;
        font-size: 1rem;

    }

    footer {
        font-size: 1rem;
        font-family: serif;
    }

    h3 {
        text-align: left;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .onlypc {
        display: none;
    }
}

/* 整个滚动条 */
::-webkit-scrollbar {
    width: 10px;
    /* 垂直滚动条宽度 */
    height: 10px;
    /* 水平滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: #f0f0f067;
    /* 轨道背景色 */
    border-radius: 5px;
    /* 轨道圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #9ed3ff, #83c7ff);
    /* 渐变色 */
    border-radius: 5px;
    /* 滑块圆角 */
}

/* 滑块 hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #8fccfd, #6cbdfe);
    /* hover 渐变 */
}